#image{
    display:block;
    width: auto;
    height: 400;
  }
  .center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 50px;
  }
  
  #img-caption{
    margin: 3px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
  }
  
  #tribute-info{
    margin: 30px;
    font-size: 15px;
    text-align: center;
    color: blue;
    
  }

  #Life{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
  }
  
  